<!-- articulo detail.ejs -->
<%- include ('../partials/header'); -%>

    <div class="container">
        <h2>
            <%= articulo.titulo %>
        </h2>

        <div>
            <img class="imagen-articulo-detalle" src="<%= articulo.imagen %>" alt="">
            <p>
                <%= articulo.fecha%>
            </p>
            <p>
                <%= articulo.contenido %>
            </p>
            <p>
                <b>
                    <%= articulo.autor %>
                </b>
            </p>


        </div>

        <%- include ('../partials/footer'); -%>