<%- include ('../partials/header'); -%>
<div class="container">
  <h2>Articulos</h2>
  <ul>
    <li><a href="/articulos/crear">Crear Articulo</a></li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Contenido</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% articulos.forEach(articulo => { %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.autor %></td>
        <td>
          <%= articulo.contenido.length > 100 ? articulo.contenido.substring(0,
          100) + '...' : articulo.contenido %>
        </td>
        <td><%= articulo.fecha %></td>
        <td>
          <a href="/articulos/editar/<%= articulo.id %>">Editar</a>
          <form
            action="/articulos/eliminar/<%= articulo.id %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ('../partials/footer'); -%>
