<%- include ('../partials/header'); -%>
  <div class="container">
    <div class="row">
      <div class="col col-md-2 publicidad">
        <h3>Actualidad</h3>
        <ul>
          <% articulos.forEach(function(articulo){ %>
            <li>
              <a href="/articulos/<%= articulo.id %>">
                <%= articulo.titulo %>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
      <div class="col col-md-8">
        <ul>
          <% articulos.forEach(function(articulo){ %>
            <li class="articulo">
              <h3>
                <%= articulo.titulo %>
              </h3>
              <div>
                <img class="imagen-articulo" src="<%= articulo.imagen %>" alt="">
                <p>
                  <%= articulo.contenido.length> 100 ? articulo.contenido.substring(0, 500) + '...' : articulo.contenido %>
                </p>
                <!-- <a> para leer el articulo a detalle -->
                <a href="/articulos/<%= articulo.id %>">Leer más</a>
              </div>

            </li>
            <% }); %>
        </ul>
      </div>
      <div class="col col-md-2 publicidad">
        <h3>Publicidad</h3>
        <img class="imagen-publicidad" src="/images/pub.png" alt="">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias impedit,
          mollitia harum iste numquam ad vitae commodi inventore, error distinctio
          labore ipsam asperiores repellendus vel, perferendis quae tempora
          officia quis.
        </p>
      </div>
    </div>
  </div>
<%- include ('../partials/footer'); -%>