<%- include ('../partials/header'); -%>
  <div class="container">
    <div class="row">
      <div class="col col-md-2 publicidad">
        <h3>Actualidad</h3>
        <ul>
          <li><a href="">Noticia 1</a></li>
          <li><a href="">Noticia 2</a></li>
          <li><a href="">Noticia 3</a></li>
          <li><a href="">Noticia 4</a></li>
          <li><a href="">Noticia 5</a></li>
        </ul>
      </div>
      <div class="col col-md-8">
        <ul>
          <% articulos.forEach(function(articulo){ %>
            <li class="articulo">
              <h3>
                <%= articulo.titulo %>
              </h3>
              <div>
                <img class="imagen-articulo" src="<%= articulo.imagen %>" alt="">
                <p>
                  <%= articulo.contenido %>
                </p>
              </div>

            </li>
            <% }); %>
        </ul>
      </div>
      <div class="col col-md-2 publicidad">
        <h3>Publicidad</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias impedit,
          mollitia harum iste numquam ad vitae commodi inventore, error distinctio
          labore ipsam asperiores repellendus vel, perferendis quae tempora
          officia quis.
        </p>
      </div>
    </div>
  </div>
<%- include ('../partials/footer'); -%>